@import "compass/typography/vertical_rhythm";

$body-font    : 'Droid Sans', 'Open Sans Condensed', Arial, sans-serif;
$header-font    : 'Droid Sans', 'Open Sans Condensed', Arial, sans-serif;

$base-font-size: 16px;
$base-line-height: 22px;