
@include breakpoint($tab,true) {
	.l-sidebar-first {
		//padding:0 $vert-spacing-unit;
		//border-left:1px solid $light-grey;
	}
}


//BLOCK DIV
.l-sidebar-first .block {
	margin-bottom:$vert-spacing-unit/1.25;
}


//BLOCK TITLES
.l-sidebar-first h2.block__title {
	@include rhythm(0,0,0,0);


	margin-top:0;
	padding-top:0;
	padding-bottom:0;

	padding-left:$vert-spacing-unit/2;
	margin-bottom:0;

	}
	
//BLOCK CONTENT
.l-sidebar-first .block__content {
	padding:0 $vert-spacing-unit/2;
	@include rhythm(0,0.5,0.5,0);
}
