input[type="text"]#edit-title {
	font-size: 2.25em;
	line-height: 0.97778em;
	color: #b1c44f;
	text-transform: uppercase;
	font-family: "Droid Sans","Open Sans Condensed",Arial,sans-serif;
	font-weight: 700;
}

.field--name-body a {
	color: #b1c44f;
}

.vertical-tabs fieldset.vertical-tabs-pane .fieldset-wrapper {
	padding:10px;
}

div.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane fieldset legend {
	margin-left:10px;
}

.cke_format_panel
{
    width: 350px !important;
}

[dir='ltr'] ul, [dir='ltr'] ol, [dir='ltr'] dl {
	padding-left:0 !important;
}

.cke_combopanel {
	width: 320px !important;
} 